.container-fluid {
    font-family: "POPPINS";
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 50px;
}

thead {
    background-color: var(--color-primario);
    color: white;
}

.pago-pedido input {
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}

.pago-pedido button {
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: white;
    border: none;
    background-color: var(--color-destacar);
}

.pago-pedido td[colspan="1"] button {
    background-color: var(--color-primario);
    color: white;
}

a[href="VerCarrito.php"] {
    text-decoration: none;
    color: white;
}

.mostrar-pedido {
    width: 70%;
    margin: 0;
    height: 500px;
    overflow: auto;
}

td {
    text-align: center;
}

.info-pedido {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.linea-pedido img {
    height: 80px;
}
