

/* Estilos generales */
body {
    background-color: white;
    font-family: "POPPINS";
}

/* Títulos y texto */
.carrito-tit {
    height: 50px;
    font-size: 35px;
}

/* Estructura del carrito */
.carrito-row {
    min-height: 500px;
}

/* Productos del carrito */
.carrito-producto {
    padding: 25px 20px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.carrito-cantidades {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito-producto-img {
    height: 80px;
    object-fit: contain;
}

.carrito-producto-cantidad {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

/* Eliminar producto */
.eliminar-producto {
    cursor: pointer;
    font-weight: 700;
}

.eliminar-producto a {
    color: var(--color-primario);
}

/* Botones de los productos */
.carrito-producto button {
    width: 40px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
}

.carrito-producto-añadir {
    background-color: var(--color-primario);
}

.carrito-producto-quitar {
    background-color: var(--color-destacar);
}

/* Sección de vacíos o con productos */
#sin-productos {
    display: none;
    align-items: center;
}

#con-productos {
    display: flex;
    align-items: center;
}

/* Subtotal */
#subtotal {
    display: flex;
    flex-direction: column;
}

#subtotal button,
#subtotal form button,
#sin-productos button {
    margin-top: 10px;
    max-width: 200px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--color-fondo);
    color: white;
}

#subtotal button,
#sin-productos button {
    position: relative;
    background-color: var(--color-primario);
}

/* Botón de seguir comprando */
#subtotal button:first-of-type:not(form button) a,
#sin-productos button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* Formulario y botón de confirmar */
#subtotal form button {
    background-color: var(--color-destacar);
}

#subtotal form {
    margin-top: 10px;
    flex-direction: column;
    display: flex;
}

/* cruf del producto */
.carrito-producto-crud {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

/* inPut de cantidad */
.cantidades {
    margin-bottom: 20px;
    width: 50%;
    border-radius: 5px;
    outline: none;
}
